body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    margin: 10vw;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 5vw;
}

.button a button{
    border: 10px;
    border-color: black;
    border-radius: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vw;
    padding: 10vw;
}

#letter{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5vw;
    font-size: 3vw;
}